language: julia

os:
  - linux
  - osx

julia:
  - 1.0
  - 1.1
  - nightly

matrix:
  fast_finish: true
  allow_failures:
  - julia: nightly

notifications:
  email: false

before_install:
  - julia -e 'using Pkg; Pkg.develop(PackageSpec(url="https://github.com/mfalt/QPDAS.jl.git"))'

after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("FirstOrderSolvers")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
